[submodule "Synopsis Inspector/Synopsis-Framework"]
	path = Synopsis Inspector/Synopsis-Framework
	url = https://github.com/Synopsis/Synopsis-Framework.git
[submodule "Synopsis Inspector/hap-in-avfoundation"]
	path = Synopsis Inspector/hap-in-avfoundation
	url = https://github.com/Synopsis/hap-in-avfoundation
